In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df=pd.read_csv('http://stats.moe.gov.tw/files/detail/107/107_students.csv')

In [8]:
df.head()

,學校代碼,學校名稱,科系代碼,科系名稱,日間∕進修別,等級別,一年級男生,一年級女生,二年級男生,二年級女生,...,五年級男生,五年級女生,六年級男生,六年級女生,七年級男生,七年級女生,延修生男生,延修生女生,縣市名稱,體系別
0,1,國立政治大學,01111001,教育學系,D 日,D 博士,9,13,6,16,...,6,5,7,5,3,2,0,0,30 臺北市,1 一般
1,1,國立政治大學,01111001,教育學系,D 日,M 碩士,6,10,1,13,...,0,0,0,0,0,0,0,0,30 臺北市,1 一般
2,1,國立政治大學,01111001,教育學系,D 日,B 學士,16,41,14,39,...,0,0,0,0,0,0,5,14,30 臺北市,1 一般
3,1,國立政治大學,01114005,教育行政與政策研究所,D 日,M 碩士,7,12,5,5,...,0,0,0,0,0,0,0,0,30 臺北市,1 一般
4,1,國立政治大學,01114006,學校行政碩士在職專班,N 職,M 碩士,5,17,5,14,...,2,5,0,0,0,0,0,0,30 臺北市,1 一般

In [31]:
nccu=df[df.學校代碼==1]
學士=nccu[nccu.等級別=='B 學士']

In [32]:
學士.head()

,學校代碼,學校名稱,科系代碼,科系名稱,日間∕進修別,等級別,一年級男生,一年級女生,二年級男生,二年級女生,...,五年級男生,五年級女生,六年級男生,六年級女生,七年級男生,七年級女生,延修生男生,延修生女生,縣市名稱,體系別
2,1,國立政治大學,01111001,教育學系,D 日,B 學士,16,41,14,39,...,0,0,0,0,0,0,5,14,30 臺北市,1 一般
10,1,國立政治大學,02221020,歷史學系,D 日,B 學士,23,25,21,11,...,0,0,0,0,0,0,9,3,30 臺北市,1 一般
15,1,國立政治大學,02222031,民族學系,D 日,B 學士,21,22,16,23,...,0,0,0,0,0,0,9,7,30 臺北市,1 一般
18,1,國立政治大學,02231022,哲學系,D 日,B 學士,23,26,19,18,...,0,0,0,0,0,0,14,6,30 臺北市,1 一般
21,1,國立政治大學,02311009,英國語文學系,D 日,B 學士,24,41,18,46,...,0,0,0,0,0,0,13,28,30 臺北市,1 一般